
body {
  margin: 0;
  padding:0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
}

#vidcontainer {
  display: grid;
  grid-template: 1fr/1fr;
  place-items: center;
  width: 640px;
  height: 480px;
}

#avideo {
  object-fit: cover;
  object-position: center;
}


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

#container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 30px;
  padding-bottom: 20px;
  width: 348px;
  height: 87px;
}

#container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 50%;
  height: 100%;
}

#justtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

#expression {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#abutton, #stop {
  width: 100px;
  height: auto;
}

#statbutton {
}

#statcontainer {
  display: none;
}

#vidoptioncontainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  height: 480px;
}

#resultcontainer {
  height: 200px;
  width: 785.73px;
}
